*.pyc
*.pkl
*.png
*.gif
*.jpg
*.obj
*.pdf

nohup.*
__pycache__
.vscode
*.pth.tar


data/
demo/
out/
scenes/
style/
temp/
.ipynb_checkpoints/

*.zip
*.tar.gz
*.ply
*.npz

*.json

transfer_weight.py

rebuttal/
debug/
nerf_pytorch/
instruction/

render_composite.py
*.sh
.DS_Store
